
<h1>My favorite TV-shows</h1>
<mat-form-field style="width: 100%" >
  <div class="">
  <input class="search" matInput type="text" placeholder="🔎 Ex. ium" [(ngModel)]="keyword">
  </div>
</mat-form-field>

<mat-list *ngIf="tvShows"  >
  <mat-list-item  *ngFor="let show of tvShows | filter:keyword" >
    <button  (click)="addFavorite(show)">
    <div class="show">
    <mat-icon class="star" *ngIf="show.favorite">star</mat-icon>
     <p class="title"> {{show.title}}</p>
     <p class="year"> {{show.year}}</p>
     </div>
  </button>
  </mat-list-item>
</mat-list>
  <select [(ngModel)]="sortType">
    <option value="" ></option>
    <option value="Year ascending"></option>
    <option value="Year descending"></option>
    <option value="Favorites"></option>

  </select>
