<h1>My favorite TV-shows</h1>
<mat-form-field style="width: 100%" >
  <div>
  <input class="search" matInput type="text" placeholder="🔎  Search with name or year" [(ngModel)]="keyword">
  </div>
</mat-form-field>
<h3>A list of TV shows</h3>
<mat-list *ngIf="tvShows"  >
  <mat-list-item  *ngFor="let show of tvShows | filter:keyword" >
    <button  (click)="addFavorite(show)">
    <div class="show">
    <mat-icon class="star" *ngIf="show.favorite">star</mat-icon>
     <p class="title"> {{show.title}}</p>
     <p class="year"> {{show.year}}</p>
     </div>
  </button>
  </mat-list-item>
</mat-list>
  <select class="sortOption" [(ngModel)]="sortType" (change)="sortShows()">
    <option value="" *ngIf="sortType==''">Sort By.</option>
    <option value="Year ascending">Year ascending</option>
    <option value="Year descending">Year descending</option>
    <option value="Title ascending">Name ascending</option>
    <option value="Title descending">Name descending</option>
    <option value="Favorites">Favorites</option>

  </select>
